/* Meu css */
/*width - largura  ||| height - altura*/

* { /*style everything inside the website*/
	margin: 0px;
	padding: 0px;
} /*there are more than one color*/

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #e7e7e7;
}

/*faixa branca com as logos*/
.titulo{
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:21px;
	
	margin-top: 60px;
	color:#000; /*black*/
}

.centralizado{
	text-align: center;
}

.menu-principal{
	width: 100%;
	height: 150px;
	background-color: white;
	display: inline-block;
}

#Lace-logo{
	padding: 25px;
	float: left;
	position: absolute;
	left: 15px;
	cursor: pointer;
}

#UFU-logo{
	padding: 40px;
	float: right;
	cursor: pointer;
}


/*faixa preta do menu*/
#menu{
	width: 100%;
	height: 40px;
	background-color: #121212;	
}

#menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu ul li{
	float: left;

	width: 150px;
	height: 40px;
	
	background-color: #121212;
	/*background-color: black;*/

	/*opacity: .8;*/
	line-height: 40px;
	text-align: center;
	font-size: 13px;
}

#menu ul li a{
	text-decoration: none;
	display: block;
	color: #d2d2d2;
	
	font-family: Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
	font-weight: bold;

	text-align: center;
    /*text-shadow: 1px 1px 0 #121212;*/
}

#menu ul li a:hover{ 
	color: black;
	background-color: white;
	cursor: pointer;
}


/*hiding the submenus*/
#menu ul li ul li{
	display: none;
}

#menu ul li:hover ul li{
	display: block;
	margin-top: 1px;
	color: #0062A0;
	opacity: .8;
}


/*putting the wrapper style*/
/**
 * 1. Centers the content. Yes, it's a bit opinionated.
 * 2. See the "width vs max-width" section
 * 3. See the "Additional Padding" section
 */
.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
  
}

/*navbar da ufu*/
.nav {
	width: 170px;
	height: 100%;
	background-color: #e7e7e7;
}

.nav ul {
	margin-top: 100px;
	padding: 0px;
	list-style: none;	
}

.nav ul li{
	float: left;
	width: 170px;
	height: 40px;
	background-color: #e7e7e7;
	line-height: 40px;
	font-size: 13px;

	border-bottom: 1px dotted gray;
}

.nav ul li a{
	text-decoration: none;
	text-indent: 18px;
	display: block;
	color: #120e62;
	
	font-family: Tahoma, Geneva, sans-serif;
	/*text-transform: uppercase;*/
	font-weight: bold;
	
}

.nav ul li a:hover{ 
	text-decoration: underline;
	cursor: pointer;
}

.titulo-submenu{
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:21px;
	text-indent: 100px;
	color:#000; /*black*/
	margin-bottom: 25px;
}

p{
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:15px;
	text-indent: 100px;
	color:#000;
	margin-bottom: 3px;
}